:root {
    --light: #e7eaf6;
    --medium-light: #a2a8d3;
    --medium-dark: #38598b;
    --dark: #113f67;
}

body {
    background-color: var(--medium-dark);
    color: var(--light);
}

h1 {
    display: flex;
    justify-content: center;
    font-family: 'Space Mono', monospace;
    font-size: 2.5rem;
}

img {
    max-width: 200px;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.card {
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    margin: 20px;
}

.dark {
    background-color: var(--dark);
}

.light {
    background-color: var(--dark);
}
